<div class="article-container">
  <img class="article-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhjzOMCgJ5vwp4yHtNtPvCMvIY2oFmQklcEXv0C5EajLsPtx1G">
  <div class="article-info">
    <div class="article-name">{{article.ueberschrift}}</div>
    <div>
      <span class="article-author">
        {{article.autor}}
      </span>
      -
      <span class="article-date">
        {{article.datum}}
      </span>
    </div>
    <div>{{article.artikeltext}}</div>
    <div>{{article.anrisstext}}</div>
  </div>
  
</div>
